.side-menu {
    height: 100vh auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    width: 20vw;
    background: white;
  }
  body{
    /* zoom:80%; */
  }

  .logo-content{

    display: flex;
    align-items: center;
    padding-left:8% ;
    margin-top: 30px;
    justify-content: start
  }

  .active{
    background: var(--dark);
    border-radius: 30px;
    /* width: 13vw;
    padding:15px ; */
    
    
    color: white !important;
  }
  .logo-img{
    margin-right: 20px;
    font-weight: 700;
  }
  .logo-text{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
 
  }
  .logo-v{
    font-size: 10px;
    display: flex;
    margin-top:15px;
    
  }
  body{
    min-height: 100%;
  }

  .sidebar-footer{
    font-size: 12px;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }
  .sidebar-footer .chevron-down{
    position: relative;
    margin-left: 10px;
  }
  .sidebar-footer-subheading{
    color: var(--light);
  }
  .ellipse{
    margin: 0 20px;
  }
  .list-menu-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
  }

  .list-menu{
  
    color: var(--light);
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 13vw;
    color: var(--light);
   padding: 10px;
   padding: auto;  }

  .list-menu:hover  {
    background: var(--dark);
    border-radius: 30px;
    
    color: white !important;
    cursor: pointer;
    

  }
  .list-menu:active{
    background: var(--dark);
    border-radius: 30px;
    
    color: white !important;
  }

  .side-text-active{

    color: var(--light);
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 500;

  
    line-height: normal;
    position: absolute;
  
  }


  .img-2{
    margin-right: 5px;
    padding: 10px;
  }
  .chevron-right{
    padding: 5px;
    width:24px;
    height:24px;
  }
  
  .sidebar-text-wrapper{
   
    font-family: "Poppins", Helvetica;
    
    font-weight: 500;
    left: 38px;
    letter-spacing: -0.14px;
    line-height: normal;
   
    top: 2px;
  }

  .ellipse{
    width:30px;
    height:30px;
  }
  .chevron-down{
    width:30px;
    height:30px;
  }